<h1 class="mb-4">🧩 Modules disponibles</h1>

<% modules = Lesson.select(:module_number).distinct.order(:module_number) %>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <% modules.each do |mod| %>
    <div class="col">
      <div class="card h-100 shadow">
        <div class="card-body">
          <h4 class="card-title">📘 Module <%= mod.module_number %></h4>
          <p class="card-text">Découvre les leçons du module <%= mod.module_number %> à ton rythme !</p>
          <%= link_to "Voir les leçons", module_lessons_path(mod.module_number), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
